@font-face {
    font-family: 'PPRadioGrotesk-Regular';
    src: url('PPRadioGrotesk-Regular.woff2') format('woff2'),
        url('PPRadioGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

